.introducao{
 display: grid;
 grid-template-columns: 2fr 1fr;
 align-items: top;
 height: 450px;
 background: linear-gradient(to right, #3E3F55, #393939);
 align-items: center;
}
.introducao h1{
    font-size: 3rem;
    line-height: 1.125;
    margin-bottom: 30px;
    color: white;
}
.introducao p{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.introducao a{
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    display: block;
}
.img-detalhe{
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}
.btncomeceAgora{
    width: 250px;
    background-color:#FF5C5C ;
    border-radius: 10px;
    text-align: center;
}
.conteudo{
    padding-left: 100px;
    justify-content: left;
}