.recursos {
  padding: 40px;
  margin: auto;
}

.grid-recursos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1600px;
  margin: auto;
}
.recurso-card {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
}
.recurso-media {
  margin: 0;
}
.recurso-header p {
  max-width: 30ch;
}
.recurso-header h3 {
  margin-bottom: 10px;
}

@media (max-width: 1150px) {
  .grid-recursos {
    grid-template-columns: 1fr;
  }
  .recurso-card {
    grid-template-columns: 1fr 1fr;
  }
}
